
name: Snyk Scan
on: [push, pull_request]
jobs:
  security:
    name: Snyk Scan - Branch ${{ github.ref_name }} and Run ID ${{ github.run_id }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
  
      - name: Snyk test to check for vulnerabilities
        uses: snyk/actions@0.4.0
        with:
         command: test
         args: --all-projects --org=${{ secrets.SNYK_ORG }} --severity-threshold=high --fail-on=all
        #continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      - name: Snyk monitor vulnerabilities and push to Snyk Cloud
        uses: snyk/actions@0.4.0
        with:
         command: monitor
         args: --all-projects --org=${{ secrets.SNYK_ORG }} --severity-threshold=high
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
